/* -------------------- GENERAL -------------------- */

body{
    position: relative;
}

.body--background{
    width: 100%; height: 100%;
    content: ""; z-index: -1; position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url("../assets/main_bg.png") center;
    background-size: 100vw;
    opacity: var(--schedule_bgImg-opacity);
}

// Tablets y celulares horizontalmente
@media screen and (min-width: 576px){
    .body--background{
        background-size: 75vw;
    }   
}

// PCs y notebooks
@media screen and (min-width: 992px){
    .body--background{
        background-size: 50vw;
    }   
}


/* -------------------- TITLE (HEADER) -------------------- */

// Mobile (default)
.title{
    padding-top: calc(calc(48px + 2vh) * 2);
    padding-left: 2vw; padding-right: 2vw;
    text-align: center;
    h1{
        color: var(--scheduleTitle_text-color);
        text-shadow: var(--scheduleTitle_text-shadow);
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 900;
        
        font-size: 2.5em;
        letter-spacing: 0.1rem;
    }
}

// Tablets y celulares horizontalmente
@media screen and (min-width: 576px){
    .title{
        padding-left: 5vw; padding-right: 5vw;
        h1{
            font-size: 3.125em;
        }
    }
}

// PCs y notebooks
@media screen and (min-width: 992px){
    .title{
        padding-top: calc(calc(64px + 2vh) * 1.875);
        padding-left: 10vw; padding-right: 10vw;
        h1{
            font-size: 4em;
        }
    }
}

/* -------------------- SCHEDULE -------------------- */

.schedule{
    padding-left: 8.75vw; padding-right: 8.75vw;
    .lastDay{padding-bottom: 2.625vh !important;}
    .day{
        padding-top: 2.25vh; padding-bottom: 0.25vh;  

        .dateWrapper{
            padding: 1vmax;
            text-align: center;
            background: var(--scheduleDate_bg-color);
            border-color: var(--scheduleDate_bg-color) !important;
            box-shadow: 0 0 3px var(--scheduleDate_bg-color);
            border-radius: 12px;

            h2{ 
                color: var(--scheduleDate_text-color);
                font-family: 'Work Sans', sans-serif;
                font-weight: 600;
                font-size: 1.625em;
                margin: 0;
            }
        }

        .contentWrapper{
            padding: 2vmax 3vmax;
            .card{
                border: 1px solid var(--scheduleCard_border-color); 
                background: transparent;
                border-radius: 10px;
                margin-top: 1.1vh;
                .card-header{
                    background: var(--scheduleCard_headerFooterBg-color);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h3{
                        color: var(--scheduleCard_hour-color);
                        margin: 0;
                        font-size: 1em;                      
                        font-family: 'Work Sans', 'sans-serif';
                        font-weight: 400; 
                    }

                    img{
                        width: 25%;
                    }
                }

                .card-body{
                    background: var(--scheduleCard_bg-color);
                    padding: 0.75vmax;
                    text-align: center;
                    h3{
                        color: var(--scheduleCard_title-color);
                        margin: 0;
                        font-size: 1em;
                        font-family: 'Noto Sans JP', 'sans-serif';
                        font-weight: 400;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .card-footer{
                    background: var(--scheduleCard_headerFooterBg-color);
                    padding: 0;
                    .generalCharWrapper{
                        padding: 0.85vmax;
                        .individualCharWrapper{
                            border: 1px solid var(--scheduleCard_charBorder-color);
                            border-radius: 100%;
                            width: 32.5%;
                            overflow: hidden; 
                        }
                    }
                }
            }

            .card:hover{
                transition: all 0.1s;
                z-index: 100;
                transform: scale(1.025);
            }
        }
    }
}

// Tablets y celulares horizontalmente
@media screen and (min-width: 576px){
    .schedule{
        .day{
            .dateWrapper{
                h2{
                    font-size: 2.125em;
                }
            }

            .contentWrapper{
                padding: 1vmax 3vmax;
                .card{
                    margin-top: 1.6625vh;
                    .card-header{
                        h3{
                            font-size: 1.2em;                       
                        }
                    }

                    .card-footer{
                        .generalCharWrapper{
                            .individualCharWrapper{
                                border: 2px solid var(--scheduleCard_charBorder-color);
                                width: 27.5%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// PCs y notebooks
@media screen and (min-width: 992px){
    .schedule{
        .lastDay{padding-bottom: 3.3991875vh !important;}
        .day{
            .dateWrapper{
                h2{
                    font-size: 2.0925em;
                }
            }

            .contentWrapper{
                padding: 1vmax 3vmax;
                .card{
                    margin-top: 2.25vh;
                    .card-header{
                        h3{font-size: 1.2em;}
                        img{width: 22.5%;}
                    }
                    .card-body{
                        padding: 0.3625vmax;
                        h3{font-size: 1.06275em;}
                    }
                    .card-footer{
                        .generalCharWrapper{
                            padding: 0.5vmax;
                            .individualCharWrapper{
                                border: 1px solid var(--scheduleCard_charBorder-color);
                                width: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
}